<%- include('partials/header', { pageTitle: 'Dashboard', cssFile: 'styles' }) %>
<%- include('partials/navbar') %>

<div class="main">
    <%- include('partials/sidebar') %>

    <section class="dashboard" id="dashboard-content" data-current-page="dashboard">
        <h2>Dashboard</h2>
        <div class="card">Total Assets: Ksh. <%= locals.assetStats?.totalAssets.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') || 0 %></div>
        <div class="card">Total Expenses: Ksh. <%= locals.assetStats?.totalExpenses.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') || 0 %></div>
        <% if (locals.message) { %>
            <script>
                // Show dynamic message upon page load
                showMessage('<%= locals.message.type %>', '<%= locals.message.text %>');
            </script>
        <% } %>
    </section>
</div>

<%- include('partials/footer', { jsFile: 'dashboard' }) %>